<div class="container">
    <div class="row">
        <div class="col ml-3 header">
            <div>
                <h3>Detalles del turno en curso</h3>
                <p>Conoce los movimientos de efectivo en tu turno de caja actual.</p>
            </div>
            <button (click)="openModalCloseShift()" type="button" class="btn btn-primary">Cerra turno</button>

        </div>
    </div>

</div>





<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list>
            @for(turno of datalist; track turno){
                <div class="item">
                    <div>
                        {{turno.descripcion}}<br>
                        <small>{{turno.fechaApertura |  date:'dd/MM/yyyy HH:mm'}}</small>
                    </div>
                    <div class="estadoClosed" *ngIf="turno.isOpen!=true">
                        <div >CERRADO</div>
                    </div>

                    <div class="estadoOpen" *ngIf="turno.isOpen==true">
                        <div >ABIERTO</div>
                    </div>


                </div>
            }
            
            <mat-divider></mat-divider>
          
        </mat-list>


    </mat-drawer>
    <mat-drawer-content>

        <div class="carddetalle">

            <div class="header">
                <div>
                    Fecha inicio <br>
                    25/04/2025 2:23 pm
                </div>
                <div>
                    Total de ventas <br>
                    RD$ 0.00
                </div>

            </div>
            <ul>
                <li>
                    Base inicial <div>RD$ 0.00</div>
                </li>
                <mat-divider></mat-divider>
                <li>
                    Ventas en efectivo <div>RD$ 0.00</div>
                </li>
                <mat-divider></mat-divider>
                <li>
                    Ventas por tarjeta de debito <div>RD$ 0.00</div>
                </li>
                <mat-divider></mat-divider>
                <li>
                    Ventas por tarjeta de credito <div>RD$ 0.00</div>
                </li>
                <mat-divider></mat-divider>
                <li>
                    Ingresos en efectivo <div>RD$ 0.00</div>
                </li>
                <mat-divider></mat-divider>
            </ul>
            
            <div class="footer header">
               <h3>Total de movimiento del turno</h3> 
                <div><b>RD$0.00</b></div>

            </div>
        </div>

        <div class="carddetalle space">
          
            <div>
                <h4>Dinero esperado en caja</h4>
                <small>Base inicial más las ventas e ingresos en efectivo, menos las devoluciones y retiros.
                </small>
            </div>
            <div><b>RD$0.00</b></div>

          
        </div>







    </mat-drawer-content>
</mat-drawer-container>