<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list>
            <mat-list-item>
                Cierre No.1 <br>
                <small>Hola esaqui va la fecha</small>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                Cierre No.2 <br>
                <small>Hola esaqui va la fecha</small>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                Cierre No.3 <br>
                <small>Hola esaqui va la fecha</small>
            </mat-list-item>
            <mat-divider></mat-divider>
           
        </mat-list>


    </mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>