<mat-card appearance="raised">
    <mat-card-content>
        <div class="headerNavCard">
            <h4 class="mb-56">Configuraciones generales de tu empresa</h4>
            <a [routerLink]="['/settings']">
                <div class="containerIcoText"><mat-icon>arrow_back</mat-icon></div>
              </a>
        </div>
       

        <div class="containerConfiguraciones">

            <div class="containerInter">
              
                
             
          
          
              <div class="formularioCard mt-3">
          
                <form class="formulario" [formGroup]="miFormulario">
                  <div class="container">
                    <div class="row">
          
          
                      <div class="col-md-4 col-sm-12 col-xs-12">
          
                        <div class="form-group">
                          <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Razón social</mat-label>
                            <input matInput #message maxlength="256" class="control" placeholder="Escriba nombre"
                              formControlName="razonSocial">
                            <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                                          <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
                          </mat-form-field>
                        </div>
                        <div class="form-group">
                          <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Nombre comercial</mat-label>
                            <input matInput #message maxlength="256" class="control" placeholder="Escriba nombre"
                              formControlName="nombreComercial">
                            <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                                            <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
                          </mat-form-field>
          
                        </div>
                        <div class="form-group">
                          <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Dirección</mat-label>
                            <input matInput #message maxlength="256" class="control" placeholder="Escriba nombre"
                              formControlName="direccion">
                            <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                                            <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
                          </mat-form-field>
                        </div>
                        <div class="form-group">
                          <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Correo Electronico</mat-label>
                            <input matInput #message maxlength="256" class="control" placeholder="example@gmail.com"
                              formControlName="correo">
                            <mat-hint align="end">{{'example@gmail.com'}}</mat-hint>
                            <mat-icon matSuffix>alternate_email</mat-icon>
                          </mat-form-field>
                        </div>
                      </div>
          
                      <div class="col-md-4 col-sm-12 col-xs-12">
          
                        <div class="form-group">
                          <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Cedula o rnc</mat-label>
                            <input matInput #message maxlength="256" class="control" 
                              formControlName="rnc">
                            <mat-icon matSuffix>id_card</mat-icon>
                          </mat-form-field>
                        </div>
                        <div class="form-group">
                          <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Telefono 1</mat-label>
                            <input matInput #message maxlength="256" class="control" 
                              formControlName="telefono1">
                          </mat-form-field>
                        </div>
                        <div class="form-group">
                          <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Telefono 2</mat-label>
                            <input matInput #message maxlength="256" class="control" 
                              formControlName="telefono2">
                          </mat-form-field>
                        </div>
                        <div class="form-group">
                          <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Sitio web</mat-label>
                            <input matInput #message maxlength="256" class="control" placeholder="example@gmail.com"
                              formControlName="web">
                          </mat-form-field>
                        </div>
          
                        <div class="form-group">
                          <div class="form-group mb-3" id="imagen">
                            <label for="logo">Selecciona el logo de tu empresa</label>
                            <input type="file" (change)="onFileSelected($event)" class="form-control form-control-sm mb-3"
                              id="logo">
                            <div *ngIf="selectedFile || imageUrl!=null">
                              <img [src]="imageUrl" class="img-thumbnail" alt="Selected Image">
                            </div>
                          </div>
                        </div>
                      </div>
          
                      <div class="col-md-4 col-sm-12 col-xs-12">
                        <p>Configuraciones adicionales</p>
                      
                        <div class="form-group">
                          <mat-form-field appearance="outline" class="select control">
                            <mat-label>Regimen</mat-label>
                            <mat-select formControlName="idRegimen">
                              <mat-option  *ngFor="let regimen of dataLisRegimen"
                                [value]="regimen.idRegimen">{{regimen.nombre}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                           <div class="form-group">
                          <mat-form-field appearance="outline" class="select control">
                            <mat-label>Sector</mat-label>
                            <mat-select formControlName="idSector">
                              <mat-option  *ngFor="let sector of dataListSector"
                                [value]="sector.idSector">{{sector.nombre}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group">
                          <mat-form-field appearance="outline" class="select control">
                            <mat-label>Numero de empleados</mat-label>
                            <mat-select formControlName="cantEmpleados">
                              <mat-option  *ngFor="let num of numEmpleadosData"
                                [value]="num.value">{{num.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
          
                        <div class="form-group">
                          <mat-form-field appearance="outline" class="select control">
                            <mat-label>Selecciona una moneda</mat-label>
                            <mat-select formControlName="idMoneda">
                              <mat-option  *ngFor="let moneda of dataListMonedas"
                                [value]="moneda.idMoneda">{{moneda.nombre}} - {{moneda.abreviatura}} -{{moneda.simbolo}}  </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                       
                       
                        <small class="form-text text-muted"> Los campos marcados con * son obligatorios</small>
                        <div class="botones mb-5">
                            <br>
                          <button mat-raised-button class="me-8 mb-8" color="primary" (click)="insert($event)">Guardar</button>
                          <!-- <button mat-raised-button class="me-8 mb-8" color="warn">Cancelar</button> -->
                        </div>
                      </div>
                      
          
                    </div>
                  </div>
          
          
          
          
          
                </form>
          
              </div>
          
          
          
            </div>
          </div>





    </mat-card-content>
  </mat-card>