<div class="headerNavCard">
  <div class="titulo">
    <div class="centerall">
      <mat-icon>description</mat-icon>LISTADO DE {{document.toUpperCase()}} <span style="margin-left: 10px;"></span>
    </div>
    <div class="centerall">
      <button *ngIf="(idTipoDocumentoGlobal==1 && informationService.tienePermiso('Facturas', 'Crear'))
        || (idTipoDocumentoGlobal==6 && informationService.tienePermiso('Cotizaciones', 'Crear'))
        || (idTipoDocumentoGlobal==8 && informationService.tienePermiso('Conduces', 'Crear'))
        || (idTipoDocumentoGlobal==7 && informationService.tienePermiso('Ordenes de compra', 'Crear'))
        || (idTipoDocumentoGlobal==10 && informationService.tienePermiso('Nota de credito', 'Crear'))
        " color="primary" (click)="addNewDocument(0, false)" mat-raised-button class="me-8 mb-8">Crear
        <mat-icon>add</mat-icon> nuevo</button>
      <button *ngIf="(idTipoDocumentoGlobal==1 && informationService.tienePermiso('Facturas', 'Filtrar'))
        || (idTipoDocumentoGlobal==6 && informationService.tienePermiso('Cotizaciones', 'Filtrar'))
        || (idTipoDocumentoGlobal==8 && informationService.tienePermiso('Conduces', 'Filtrar'))
        || (idTipoDocumentoGlobal==7 && informationService.tienePermiso('Ordenes de compra', 'Filtrar'))
        || (idTipoDocumentoGlobal==10 && informationService.tienePermiso('Nota de credito', 'Filtrar'))
        " color="primary" (click)="drawer.toggle()" mat-raised-button class="me-8 mb-8">Filtrar
        <mat-icon>manage_search</mat-icon></button>
    </div>

    <!-- <a>
                <div class="containerIcoText"><mat-icon>arrow_back</mat-icon></div>
              </a> -->
  </div>
</div>
<!-- <mat-card>
  <div class="filterandbutton" *ngIf="filters">
            <form [formGroup]="miFormulario">
                  <h2 style="margin-top: 10px;">Filtros</h2>
                  <hr>
              <div class="containerfuncionesheader input-parent" >
                <mat-form-field style="width: 10%;" appearance="fill" class="no-fill-background">
                  <mat-label>No. Doc. </mat-label>
                  <input matInput placeholder="Buscar" formControlName="noFactura">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                &nbsp;
                <mat-form-field style="width: 16.6%;" appearance="fill" class="no-fill-background">
                  <mat-icon matSuffix>person_add</mat-icon>
                  <mat-label matTooltip="Puede consultar un cliente por identitifacion o su nombre">Cliente</mat-label>
                  <input matInput formControlName="nombreClienteCompleto" [matAutocomplete]="auto"
                    (input)="searchContacto($event)">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="selectContacto($event)">
                    <mat-option *ngFor="let contacto of dataListContactos" [value]="contacto">
                      {{ contacto.nombreRazonSocial }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="no-fill-background" style="width: 16.6%;">
                  <mat-label>Tipo de factura</mat-label>
                  <mat-select formControlName="idNumeracion">
                    @for (numeracion of dataListNumeraciones; track $index)
                    {
                    <mat-option [value]="numeracion.idNumeracion">{{numeracion.nombre}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="no-fill-background" style="width: 10%;">
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="idEstado">
                    @for (estado of dataListEstadosFactura; track $index)
                    {
                    <mat-option [value]="estado.idEstadoFactura">{{estado.nombre}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="no-fill-background" style="width: 15%;">
                  <mat-label>Selec. fecha</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Fecha inicio" formControlName="desde">
                    <input matEndDate placeholder="Fecha fin" formControlName="hasta">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                &nbsp;

                <button style="width: 150px;" color="primary" (click)="getAllFilter()" mat-raised-button
                  class="me-8 mb-8">
                  <mat-icon>search</mat-icon>Buscar</button>

                   <button style="width: 150px;" color="info" (click)="printRportVentas()" mat-raised-button
                  class="me-8 mb-8">
                  <mat-icon>print</mat-icon>Imprimir</button>

                <button style="width: 150px;" color="warn" (click)="resetFilters()" mat-raised-button class="me-8 mb-8">
                  <mat-icon>autorenew</mat-icon>Reset.</button>
              </div>

            </form>

          </div>
</mat-card> -->


<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" class="conteinerfiltros">
    <form [formGroup]="miFormulario">
      <h2 style="margin-top: 10px;">Filtros</h2>
      <hr>
      <div class="containerfuncionesheader input-parent">
        <mat-form-field appearance="fill" class="no-fill-background">
          <mat-label>No. Doc. </mat-label>
          <input matInput placeholder="Buscar" formControlName="no">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" class="no-fill-background">
          <mat-icon matSuffix>person_add</mat-icon>
          <mat-label *ngIf="document=='Compra'"
            matTooltip="Puede consultar un cliente por identitifacion o su nombre">Proveedor</mat-label>
          <mat-label *ngIf="document!=='Compra'"
            matTooltip="Puede consultar un cliente por identitifacion o su nombre">Cliente</mat-label>

          <input matInput formControlName="nombreClienteCompleto" [matAutocomplete]="auto"
            (input)="searchContacto($event)">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectContacto($event)">
            <mat-option *ngFor="let contacto of dataListContactos" [value]="contacto">
              {{ contacto.nombreRazonSocial }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="no-fill-background" *ngIf="document=='Factura'">
          <mat-label>Tipo de factura</mat-label>
          <mat-select formControlName="idNumeracion">
            @for (numeracion of dataListNumeraciones; track $index)
            {
            <mat-option [value]="numeracion.idNumeracion">{{numeracion.nombre}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="no-fill-background" *ngIf="document=='Factura'">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="idEstado">
            @for (estado of dataListEstadosFactura; track $index)
            {
            <mat-option [value]="estado.idEstadoFactura">{{estado.nombre}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="no-fill-background">
          <mat-label>Selec. fecha</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Fecha inicio" formControlName="desde">
            <input matEndDate placeholder="Fecha fin" formControlName="hasta">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button style="width: 150px;" color="primary" (click)="getAllFilter()" mat-raised-button class="me-8 mb-8">
          <mat-icon>search</mat-icon>Buscar</button>

        <button style="width: 150px;" color="info" (click)="printRportVentas()" mat-raised-button class="me-8 mb-8">
          <mat-icon>print</mat-icon>Imprimir</button>

        <button style="width: 150px;" color="warn" (click)="resetFilters()" mat-raised-button class="me-8 mb-8">
          <mat-icon>autorenew</mat-icon>Reset.</button>
      </div>

    </form>
  </mat-drawer>

  <mat-card>
    <div>
      <!-- Card column -->
      <div>

        <div class="demo-tab-content">
          <!-- Daily Activity -->
          <mat-card-content>
            <label style="margin-left: 5px;">Resumen de opraciones</label>
            <div *ngIf="document!='Conduce'">
              <div class="summary-grid">
                <div class="summary-card" *ngIf="document!='Cotización'">
                  <div class="header-card">
                    <div class="icon">$</div>
                    <div class="title">Total Facturado</div>
                  </div>
                  <div class="amount">{{totalFacturado || 0 | number:'1.2-2' }}</div>
                </div>
                <div class="summary-card">
                  <div class="header-card">
                    <div class="icon">$</div>
                    <div class="title">Monto Pagado</div>
                  </div>
                  <div class="amount">{{ montoPagado || 0 | number:'1.2-2'}}</div>
                </div>

                <div class="summary-card">
                  <div class="header-card">
                    <div class="icon">$</div>
                    <div matTooltip="Venta con tarjeta" class="title">Monto Por Pagar</div>
                  </div>
                  <div class="amount">{{ montoPorPagar || 0 | number:'1.2-2'}}</div>
                </div>

                <div class="summary-card">
                  <div class="header-card">
                    <div class="icon">$</div>
                    <div matTooltip="Venta con trasferencia" class="title">Pago Vencido</div>
                  </div>
                  <div class="amount">{{ pagosVencido || 0 | number:'1.2-2'}}</div>
                </div>
              </div>


            </div>




            <div class="table-responsive">
              <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

              <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
                <!-- Name Column -->
                <ng-container matColumnDef="Cliente">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center"> <mat-icon>person</mat-icon> Cliente </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.contacto.nombreRazonSocial || ''}}
                  </td>

                </ng-container>

                <ng-container matColumnDef="Tipo">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center"> <mat-icon>category</mat-icon> Tipo </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.numeracionObj.nombre}}
                    <p class="mb-0 fw-normal op-5">{{element.numeracion || '' }}</p>
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Creación">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center"> <mat-icon>date_range</mat-icon> Fechas </div>
                  </th>
                  <td mat-cell *matCellDef="let element">Creación: {{element.fechaCreacion | date :'dd/MM/YYYY'}}
                    <p class="mb-0 fw-normal op-5">Vencimiento: {{element.vencimiento | date :'dd/MM/YYYY'}}</p>

                  </td>

                </ng-container>



                <ng-container matColumnDef="Total">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center"> <mat-icon>payments</mat-icon> Total </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{informationService.moneda.simbolo}} {{element.totalGeneral |
                    number : '1.2-5'}} </td>
                </ng-container>

                <ng-container matColumnDef="MontoPagado">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center"> <mat-icon>payments</mat-icon> M. pagado </div>
                  </th>
                  <td class="textGreen" mat-cell *matCellDef="let element"> {{informationService.moneda.simbolo}}
                    {{element.montoPagado | number : '1.2-5'}} </td>
                </ng-container>

                <ng-container matColumnDef="MontoPorPagar">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center"> <mat-icon>payments</mat-icon> M. por pagar </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{informationService.moneda.simbolo}} {{element.montoPorPagar
                    | number : '1.2-5'}} </td>
                </ng-container>

                <ng-container matColumnDef="Estado">
                  <th mat-header-cell *matHeaderCellDef>Estado</th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      *ngIf="document!='Cotización' &&  document!='Compra'  && element.estadoFactura?.nombre.toUpperCase()=='POR PAGAR'"
                      class="badge rounded-pill textred" [style.background-color]="element.estadoFactura?.color">
                      {{ (element.estadoFactura?.nombre || '').toUpperCase() }}
                    </div>

                    <div *ngIf="document!='Cotización' &&  element.estadoFactura?.nombre.toUpperCase()=='COBRADA'"
                      class="badge rounded-pill textGreen" [style.background-color]="element.estadoFactura?.color">
                      {{ (element.estadoFactura?.nombre || '').toUpperCase() }}
                    </div>

                    <div class="badge rounded-pill textred"
                      *ngIf="document=='Cotización'  && element.estadoFactura?.nombre.toUpperCase()=='POR PAGAR' && element.montoPagado==0"
                      [style.background-color]="element.estadoFactura?.color">
                      SIN PAGOS APLICADOS </div>

                    <div class="badge rounded-pill" *ngIf="document=='Cotización' && element.montoPagado!==0"
                      [style.background-color]="element.estadoFactura?.color">
                      {{element.estadoFactura?.nombre.toUpperCase()}} </div>

                    <div class="badge rounded-pill textGreen"
                      *ngIf="document=='Cotización' && element.estadoFactura?.nombre.toUpperCase()!='POR PAGAR'"
                      [style.background-color]="element.estadoFactura?.color">
                      {{ (element.estadoFactura?.nombre || '').toUpperCase() }} </div>

                    <div class="badge rounded-pill textred" *ngIf="document=='Compra'"
                      [style.background-color]="element.estadoFactura?.color">
                      {{ (element.estadoFactura?.nombre || '').toUpperCase() }}
                    </div>


                    <div class="badge rounded-pill" *ngIf="document=='Conduce'"
                      [style.background-color]="element.estadoFactura?.color">
                      {{ (element.estadoFactura?.nombre || '').toUpperCase() }}
                    </div>

                    <div class="badge rounded-pill recibidoCompra" *ngIf="element.recepcionRecibida==true">
                      RECIBIDA
                    </div>


                    <div class="badge rounded-pill textGreen" *ngIf="document=='Nota de credito'"
                      [style.background-color]="element.estadoFactura?.color">
                      {{ (element.estadoFactura?.nombre || '').toUpperCase() }}
                    </div>

                    <!-- Estado recibido para una orden de comrpa -->

                  </td>
                </ng-container>


                <ng-container matColumnDef="Acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="mb-0 fw-medium op-5 acciones">
                      <!-- {{element.project}} -->

                      <!-- <button matTooltip="Imprimir" class="btnaccion" (click)="printFactura(factura!)" 
                                    data-toggle="modal" data-target="#exampleModal"><mat-icon
                                        data-toggle="modal">print</mat-icon></button> -->


                      <!-- <button
                        [ngClass]="{'disabled': element.montoPorPagar === 0, 'inactivo': element.montoPorPagar !== 0}"
                        (click)="openDialog(element)" matTooltip="Agregar pago" class="btnaccion" data-toggle="modal"
                        data-target="#exampleModal"><mat-icon color="primary"
                          data-toggle="modal">payments</mat-icon></button> -->

                      <!-- <button  *ngIf="factura.montoPorPagar!==0" (click)="openDialog(factura)" matTooltip="Agregar pago" class="btnaccion" 
                                    data-toggle="modal" data-target="#exampleModal"><mat-icon
                                        data-toggle="modal">payments</mat-icon></button> -->

                      <!-- <button [ngClass]="{'disabled': factura.montoPorPagar === 0, 'inactivo': factura.montoPorPagar !== 0}"  matTooltip="Editar" class="btnaccion" (click)="editar(factura!)"
                                        data-toggle="modal" data-target="#exampleModal"><mat-icon class="btnEditar"
                                            data-toggle="modal">edit</mat-icon></button>
    
                                    <button [ngClass]="{'disabled': factura.montoPorPagar === 0, 'inactivo': factura.montoPorPagar !== 0}" matTooltip="Eliminar" class="btnaccion" (click)="delete(factura.idFactura!)"
                                        data-target="#exampleModal"><mat-icon class="btnEliminar" data-toggle="modal">delete</mat-icon></button>
                                        <button matTooltip="Ver detalle" class="btnaccion"  (click)="verFactura(factura.idFactura!)"
                                        data-toggle="modal" data-target="#exampleModal"><mat-icon
                                            data-toggle="modal">preview</mat-icon></button> -->

                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" xPosition="before">

                        <button mat-menu-item (click)="openDialogPago(element)"
                          *ngIf="(informationService.tipoDocumento!='Conduce' && informationService.tipoDocumento!='Compra' && informationService.tipoDocumento!='Nota de credito' && element.estadoFactura.nombre!='Facturada') && usuarioService.usuarioLogueado.data.rol.modulos[0].funcionalidades[2].checked==true">
                          <mat-icon color="primary">payments</mat-icon>
                          <span>Agregar pago</span>
                        </button>

                        <button *ngIf="(idTipoDocumentoGlobal==1 && informationService.tienePermiso('Facturas', 'Ver detalle'))
        || (idTipoDocumentoGlobal==6 && informationService.tienePermiso('Cotizaciones', 'Ver detalle'))
        || (idTipoDocumentoGlobal==8 && informationService.tienePermiso('Conduces', 'Ver detalle'))
        || (idTipoDocumentoGlobal==7 && informationService.tienePermiso('Ordenes de compra', 'Ver detalle'))
        || (idTipoDocumentoGlobal==10 && informationService.tienePermiso('Nota de credito', 'Ver detalle'))
        " mat-menu-item (click)="verFactura(element.idFactura!)">
                          <mat-icon color="primary">visibility</mat-icon>
                          <span>Ver detalle</span>
                        </button>

                        <button *ngIf="informationService.tipoDocumento=='Conduce' && informationService.tienePermiso('Conduces', 'Despachar')" mat-menu-item
                          (click)="openDialogChengeStatus(element.idFactura!)">
                          <mat-icon color="primary">autorenew</mat-icon>
                          <span>Despachar</span>
                        </button>
                        <button *ngIf="(idTipoDocumentoGlobal==1 && informationService.tienePermiso('Facturas', 'Imprimir'))
        || (idTipoDocumentoGlobal==6 && informationService.tienePermiso('Cotizaciones', 'Imprimir'))
        || (idTipoDocumentoGlobal==8 && informationService.tienePermiso('Conduces', 'Imprimir'))
        || (idTipoDocumentoGlobal==7 && informationService.tienePermiso('Ordenes de compra', 'Imprimir'))
        || (idTipoDocumentoGlobal==10 && informationService.tienePermiso('Nota de credito', 'Imprimir'))
        " mat-menu-item (click)="getFacturaByIdForPrint(element.idFactura!)">`
                          <mat-icon color="black">print</mat-icon>
                          <span>Imprimir</span>
                        </button>
                        <button *ngIf="document=='Cotización' && informationService.tienePermiso('Cotizaciones', 'Convertir a factura') " mat-menu-item (click)="convertirAFactura(element)">
                          <mat-icon color="primary">transform</mat-icon>
                          <span>Convertir a factura</span>
                        </button>

                        <button matTooltip="Recibir de mercancia" *ngIf="(document=='Compra' && element.recepcionRecibida==false) && informationService.tienePermiso('Ordenes de compra', 'Recepcion de mercancia') " mat-menu-item
                          (click)="recepcionMercancia(element.idFactura)">
                          <mat-icon color="primary">inventory_2</mat-icon>
                          <span>Rec.Mercancia</span>
                        </button>
                        <button *ngIf="(idTipoDocumentoGlobal==1 && (element.montoPagado==0  && element.recepcionRecibida==false && element.estadoFactura.nombre.toUpperCase()!='FACTURADA') && informationService.tienePermiso('Facturas', 'Editar'))
        || (idTipoDocumentoGlobal==6 && informationService.tienePermiso('Cotizaciones', 'Editar'))
        || (idTipoDocumentoGlobal==8 && informationService.tienePermiso('Conduces', 'Editar'))
        || (idTipoDocumentoGlobal==7 && informationService.tienePermiso('Ordenes de compra', 'Editar'))
        "
                          at-menu-item (click)="editar(element)" mat-menu-item>
                          <mat-icon color="primary">edit</mat-icon>
                          <span>Editar</span>
                        </button>

                        <!-- <button *ngIf="informationService.tipoDocumento=='Factura'" mat-menu-item
                          (click)="setDocumentDevolucion(); addNewDocument(0, false, element.numeracion, element.contacto.idContacto, element.idFactura)" mat-menu-item>
                          <mat-icon color="primary">receipt_long</mat-icon>
                          <span>Nota de credito / Devolución</span>
                        </button> -->

                        <button *ngIf="(informationService.tipoDocumento=='Factura' && element.permiteNotaCredito==true) && informationService.tienePermiso('Factura', 'Nota de credito / Devolución') "
                          mat-menu-item (click)="setDocumentDevolucion(); editar(element)" mat-menu-item>
                          <mat-icon color="primary">receipt_long</mat-icon>
                          <span>Nota de credito / Devolución</span>
                        </button>


                        <!-- <button
                                            [ngClass]="{'disabled': factura.montoPorPagar === 0, 'inactivo': factura.montoPorPagar !== 0}"
                                            mat-menu-item>
                                            <mat-icon>do_not_disturb_on</mat-icon>
                                            <span>Anular</span>
                                        </button> -->
                      </mat-menu>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <app-nodata *ngIf="dataSource.data.length<1 && cargando==false"></app-nodata>



            </div>
            <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="pageChanged($event)"></mat-paginator>

          </mat-card-content>

        </div>




      </div>

    </div>
  </mat-card>

  <!-- <app-report-ticket-invoice [factura]="facturaForPrint" id="ticket" *ngIf="imprimiendo"></app-report-ticket-invoice> -->
  <app-invoice-report [factura]="facturaForPrint" *ngIf="imprimiendo" id="factura"></app-invoice-report>