<mat-card appearance="outlined">

  <div class="row">
    <!-- Card column -->
    <div class="col-12">

      <div class="demo-tab-content">
        <!-- Daily Activity -->
        <mat-card-content>
          <div class="headerNavCard">

            <div class="titulo">
              <div class="centerall">
                <mat-icon>description</mat-icon>Listado de {{document}} <span style="margin-left: 10px;"></span>
              </div>


              <div class="centerall">
                <button color="primary" (click)="addNewDocument(0, false)" mat-raised-button class="me-8 mb-8">Crear
                  <mat-icon>add</mat-icon> nuevo</button>
                <button color="primary" (click)="showFilter()" mat-raised-button class="me-8 mb-8">Filtrar
                  <mat-icon>manage_search</mat-icon></button>
              </div>

              <!-- <a>
                <div class="containerIcoText"><mat-icon>arrow_back</mat-icon></div>
              </a> -->
            </div>
          </div>

            <div class="filterandbutton">
            <form [formGroup]="miFormulario">
              <div class="containerfuncionesheader input-parent" *ngIf="filters">

                <mat-form-field style="width: 16.6%;" appearance="fill" class="no-fill-background">
                  <mat-label>No. Documento</mat-label>
                  <input matInput placeholder="Buscar" formControlName="noFactura">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                &nbsp;

                <mat-form-field style="width: 16.6%;" appearance="fill" class="no-fill-background">
                  <mat-icon matSuffix>person_add</mat-icon>
                  <mat-label matTooltip="Puede consultar un cliente por identitifacion o su nombre">Cliente</mat-label>
                  <input matInput formControlName="nombreClienteCompleto" [matAutocomplete]="auto"
                    (input)="searchContacto($event)">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="selectContacto($event)">
                    <mat-option *ngFor="let contacto of dataListContactos" [value]="contacto">
                      {{ contacto.nombreRazonSocial }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="no-fill-background" style="width: 16.6%;">
                  <mat-label>Tipo de factura</mat-label>
                  <mat-select formControlName="idNumeracion">
                    @for (numeracion of dataListNumeraciones; track $index)
                    {
                    <mat-option [value]="numeracion.idNumeracion">{{numeracion.nombre}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                &nbsp;
                 <mat-form-field class="no-fill-background" style="width: 16.6%;">
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="idEstado">
                    @for (estado of dataListEstadosFactura; track $index)
                    {
                    <mat-option [value]="estado.idEstadoFactura">{{estado.nombre}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="no-fill-background" style="width: 20%;">
                  <mat-label>Selecciona una fecha</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Fecha de inicio" formControlName="desde">
                    <input matEndDate placeholder="Fecha fin" formControlName="hasta">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                &nbsp;

                <button style="width: 200px;" color="primary" (click)="getAllFilter()" mat-raised-button
                  class="me-8 mb-8">
                  <mat-icon>search</mat-icon>Buscar</button>

                <button style="width: 200px;" color="warn" (click)="resetFilters()" mat-raised-button
                  class="me-8 mb-8">
                  <mat-icon>autorenew</mat-icon>Reset.</button> 
              </div>

            </form>

          </div>
          <div class="summary-grid" *ngIf="document!='Cotización'">
            <div class="summary-card">
              <div class="header-card">
                <div class="icon">$</div>
                <div class="title">Monto Pagado</div>
              </div>
              <div class="amount">{{ montoPagado | number:'1.2-2'}}</div>
              <!-- <div class="transactions">1025 transacciones</div> -->
            </div>

            <div class="summary-card">
              <div class="header-card">
                <div class="icon">$</div>
                <div matTooltip="Venta con tarjeta" class="title">Monto Por Pagar</div>
              </div>
              <div class="amount">{{ montoPorPagar | number:'1.2-2'}}</div>
              <!-- <div class="transactions">1025 transacciones</div> -->
            </div>

            <div class="summary-card">
              <div class="header-card">
                <div class="icon">$</div>
                <div matTooltip="Venta con trasferencia" class="title">Pago Vencido</div>
              </div>
              <div class="amount">{{ pagosVencido | number:'1.2-2'}}</div>
              <!-- <div class="transactions">1025 transacciones</div> -->
            </div>


          </div>
        



          <div class="table-responsive">
            <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

            <div class="mat-elevation-z8">
              <table aparence="fill" mat-table [dataSource]="dataSource">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                <!-- Position Column -->
                <ng-container matColumnDef="Numero">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.numeracion || ''}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Cliente">
                  <th mat-header-cell *matHeaderCellDef> Cliente </th>
                  <td mat-cell *matCellDef="let element"> {{element.contacto.nombreRazonSocial || ''}} </td>
                </ng-container>

                <ng-container matColumnDef="Tipo">
                  <th mat-header-cell *matHeaderCellDef> Tipo </th>
                  <td mat-cell *matCellDef="let element"> {{element.numeracionObj.nombre}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Creación">
                  <th mat-header-cell *matHeaderCellDef> F. Creación </th>
                  <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date :'dd/MM/YYYY'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Vencimiento">
                  <th mat-header-cell *matHeaderCellDef> F.Vencimiento </th>
                  <td mat-cell *matCellDef="let element"> {{element.vencimiento | date :'dd/MM/YYYY'}} </td>
                </ng-container>

                <ng-container matColumnDef="Total">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let element"> {{element.totalGeneral | number : '1.2-5'}} </td>
                </ng-container>

                <ng-container matColumnDef="MontoPagado">
                  <th mat-header-cell *matHeaderCellDef> M. pagado </th>
                  <td mat-cell *matCellDef="let element"> {{element.montoPagado | number : '1.2-5'}} </td>
                </ng-container>

                <ng-container matColumnDef="MontoPorPagar">
                  <th mat-header-cell *matHeaderCellDef> M. por pagar </th>
                  <td mat-cell *matCellDef="let element"> {{element.montoPorPagar | number : '1.2-5'}} </td>
                </ng-container>

                <ng-container matColumnDef="Estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element">
                    <div *ngIf="document!='Cotización'" class="badge rounded-pill" [style.background-color]="element.estadoFactura?.color">
                      {{ (element.estadoFactura?.nombre || '').toUpperCase() }}</div>

                      <div *ngIf="document=='Cotización' && element.estadoFactura?.nombre.toUpperCase()=='POR PAGAR'"  class="badge rounded-pill" [style.background-color]="element.estadoFactura?.color">
                      SIN PAGOS APLICADOS </div>
                      
                      <div *ngIf="document=='Cotización' && element.estadoFactura?.nombre.toUpperCase()!='POR PAGAR'"  class="badge rounded-pill" [style.background-color]="element.estadoFactura?.color">
                        {{ (element.estadoFactura?.nombre || '').toUpperCase() }} </div>


                  </td>
                </ng-container>


                <ng-container matColumnDef="Acciones">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="mb-0 fw-medium op-5 acciones">
                      <!-- {{element.project}} -->

                      <!-- <button matTooltip="Imprimir" class="btnaccion" (click)="printFactura(factura!)" 
                                    data-toggle="modal" data-target="#exampleModal"><mat-icon
                                        data-toggle="modal">print</mat-icon></button> -->


                      <button
                        [ngClass]="{'disabled': element.montoPorPagar === 0, 'inactivo': element.montoPorPagar !== 0}"
                        (click)="openDialog(element)" matTooltip="Agregar pago" class="btnaccion" data-toggle="modal"
                        data-target="#exampleModal"><mat-icon color="primary"
                          data-toggle="modal">payments</mat-icon></button>

                      <!-- <button  *ngIf="factura.montoPorPagar!==0" (click)="openDialog(factura)" matTooltip="Agregar pago" class="btnaccion" 
                                    data-toggle="modal" data-target="#exampleModal"><mat-icon
                                        data-toggle="modal">payments</mat-icon></button> -->

                      <!-- <button [ngClass]="{'disabled': factura.montoPorPagar === 0, 'inactivo': factura.montoPorPagar !== 0}"  matTooltip="Editar" class="btnaccion" (click)="editar(factura!)"
                                        data-toggle="modal" data-target="#exampleModal"><mat-icon class="btnEditar"
                                            data-toggle="modal">edit</mat-icon></button>
    
                                    <button [ngClass]="{'disabled': factura.montoPorPagar === 0, 'inactivo': factura.montoPorPagar !== 0}" matTooltip="Eliminar" class="btnaccion" (click)="delete(factura.idFactura!)"
                                        data-target="#exampleModal"><mat-icon class="btnEliminar" data-toggle="modal">delete</mat-icon></button>
                                        <button matTooltip="Ver detalle" class="btnaccion"  (click)="verFactura(factura.idFactura!)"
                                        data-toggle="modal" data-target="#exampleModal"><mat-icon
                                            data-toggle="modal">preview</mat-icon></button> -->

                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="verFactura(element.idFactura!)">
                          <mat-icon color="primary">visibility</mat-icon>
                          <span>Ver detalle</span>
                        </button>
                        <button mat-menu-item (click)="getFacturaByIdForPrint(element.idFactura!)">
                          <mat-icon color="black">print</mat-icon>
                          <span>Imprimir</span>
                        </button>
                        <button *ngIf="document=='Cotización'" mat-menu-item (click)="convertirAFactura(element)">
                          <mat-icon color="primary">transform</mat-icon>
                          <span>Convertir a factura</span>
                        </button>
                        <button *ngIf="element.montoPagado==0 || document=='Cotización'"
                          [ngClass]="{'disabled': element.montoPagado !== 0, 'inactivo': element.montoPagado !== 0}"
                          mat-menu-item (click)="editar(element)" mat-menu-item>
                          <mat-icon color="primary">edit</mat-icon>
                          <span>Editar</span>
                        </button>
                        <!-- <button
                                            [ngClass]="{'disabled': factura.montoPorPagar === 0, 'inactivo': factura.montoPorPagar !== 0}"
                                            mat-menu-item>
                                            <mat-icon>do_not_disturb_on</mat-icon>
                                            <span>Anular</span>
                                        </button> -->
                      </mat-menu>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <app-nodata *ngIf="dataSource.data.length<1"></app-nodata>


            </div>
          </div>
          <!-- <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="pageChanged($event)"></mat-paginator> -->

        </mat-card-content>

      </div>




    </div>

  </div>
</mat-card>

<app-report-ticket-invoice [factura]="facturaForPrint" id="ticket" *ngIf="imprimiendo"></app-report-ticket-invoice>
<app-invoice-report [factura]="facturaForPrint" *ngIf="imprimiendo" id="factura"></app-invoice-report>