<div class="table-responsive">
              <!-- <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar> -->
   <mat-card-content>
              <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
                <!-- Name Column -->
                <ng-container matColumnDef="CantidadRecibida">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center"> Articulo </div>
                  </th>
                  <td [matTooltip]="element.detalleObj.producto.nombre"  mat-cell *matCellDef="let element"> {{ element.detalleObj.producto.nombre.length > 20 ? (element.detalleObj.producto.nombre |
                                        slice:0:20) + '...' : element.detalleObj.producto.nombre }}
                  </td>

                </ng-container>

                <ng-container matColumnDef="CantidadSolicitada">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center">  Cantidad solicitada </div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-normal op-5">{{element.detalleObj.cantidad || '' }}</p>
                  </td>
                </ng-container>

                <ng-container matColumnDef="CantidadFaltante">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center"> Cantidad recibida </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.cantidadRecibida}}
                    <!-- <p class="mb-0 fw-normal op-5">{{element.numeracion || '' }}</p> -->
                  </td>
                </ng-container>

                  <ng-container matColumnDef="CantidadRestante">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center">Cantidad restante </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.detalleObj.cantidad - element.cantidadRecibida }}
                    <!-- <p class="mb-0 fw-normal op-5">{{element.numeracion || '' }}</p> -->
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <!-- <ng-container matColumnDef="Estado">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="center"> Ovservaciones </div>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.observaciones }} </td>
                </ng-container> -->





                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <!-- <app-nodata *ngIf="dataSource.data.length<1 && cargando==false"></app-nodata> -->



        
            <!-- <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="pageChanged($event)"></mat-paginator> -->



        
          </mat-card-content>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <!-- <button mat-button>Guardar</button> -->
</mat-dialog-actions>