<mat-card appearance="raised">
    <mat-card-content>
        <div class="headerNavCard">
            <h4 class="mb-56">Configuraciones generales de los roles</h4>
            <a [routerLink]="['/settings']">
                <div class="containerIcoText"><mat-icon>arrow_back</mat-icon></div>
            </a>
        </div>
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
            <mat-card appearance="raised">
                <mat-card-content>
                    <form class="formulario" [formGroup]="miFormulario" (ngSubmit)="save()">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <mat-form-field class="example-full-width control" appearance="outline">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput #message maxlength="256" class="control"
                                            placeholder="Escriba nombre" formControlName="nombre">
                                        <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                                      <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
                                    </mat-form-field>

                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <!-- <input type="button"  data-dismiss="Modal" class="btnCancelar" (click)="resetForm()" value="Cancelar">
                  <input type="submit"  class="btnGuardar" value="Guardar"> -->

                            <button mat-raised-button class="me-8 mb-8" color="primary">Guardar</button>
                            <button *ngIf="editando" mat-raised-button class="me-8 mb-8" color="warn"
                                (click)="resetForm()">Cancelar</button>
                        </div>
                    </form>





                </mat-card-content>
            </mat-card>


            <div class="container">
                <!-- Daily Activity -->
                <mat-card class="w-100 cardtable">
                    <mat-card-content>
                        <!-- <h4 class="mb-56">Listado de roles</h4> -->

                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataList" class="text-nowrap w-100">

                                <!-- Id Column -->
                                <ng-container matColumnDef="idRol">
                                    <th mat-header-cell *matHeaderCellDef> Cod </th>
                                    <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.idRol}} </td>
                                </ng-container>

                                <!-- Assigned Column -->
                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> nombre </th>
                                    <td mat-cell *matCellDef="let element">
                                        <p class="mb-0 fw-medium">{{ element.nombre }}</p>
                                        <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                                    </td>
                                </ng-container>

                                <!-- Project Column -->
                                <ng-container matColumnDef="acciones">
                                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="mb-0 fw-medium op-5 acciones">
                                            <!-- {{element.project}} -->

                                            <button class="btnaccion" (click)="editar(element)"> <mat-icon
                                                    class="editarcolor">edit</mat-icon></button>
                                            <button class="btnaccion" (click)="delete(element.idRol)"> <mat-icon
                                                    class="editarcolor">delete</mat-icon></button>

                                        </div>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>