<mat-card appearance="outlined">
  <mat-card-content>
    <div class="demo-tab-content">
      <!-- Daily Activity -->
     
           <div class="headerNavCard">
            <div class="titulo"> <mat-icon>groups</mat-icon>Listado de clientes/proveedores <span
                style="margin-left: 10px;"></span>
              <!-- <a>
                <div class="containerIcoText"><mat-icon>arrow_back</mat-icon></div>
              </a> -->
            </div>
            </div>

          <div class="filterandbutton">
            <button (click)="goToNewContact(0)" mat-raised-button class="me-8 mb-8" color="primary"><mat-icon>add</mat-icon>  Crear nuevo</button>
            <div class="containerfuncionesheader input-parent">
              <mat-form-field appearance="fill" class="mini-input no-fill-background">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="getAllFilter($event)" placeholder="Buscar">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>


          </div>
          <mat-tab-group>
            <mat-tab label="Clientes"> 
              <mat-progress-bar style="margin-top: 10px;" *ngIf="dataList.length<1" mode="indeterminate"></mat-progress-bar>

              <div class="table-responsive">
                <table mat-table [dataSource]="dataList" class="text-nowrap w-100">
                  <ng-container matColumnDef="idContacto">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell class="fw-medium" *matCellDef="let element">
                      {{element.idContacto}} </td>
                  </ng-container>
    
                  <!-- Assigned Column -->
                  <ng-container matColumnDef="nombreRazonSocial">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium">{{ element.nombreRazonSocial }}</p>
                      <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                    </td>
                  </ng-container>
    
                  <!-- Assigned Column -->
                  <ng-container matColumnDef="celular">
                    <th mat-header-cell *matHeaderCellDef> Celular </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium">{{ element.celular }}</p>
                      <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                    </td>
                  </ng-container>
    
                  <ng-container matColumnDef="tipoIdentificacion">
                    <th mat-header-cell *matHeaderCellDef> Tipo de indentificación </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium">{{ element.tipoIdentificacion}}</p>
                      <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                    </td>
                  </ng-container>
    
                  <ng-container matColumnDef="rnc">
                    <th mat-header-cell *matHeaderCellDef> Rnc/Cedula </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium">{{ element.rnc}}</p>
                      <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                    </td>
                  </ng-container>
    
    
    
    
                  <!-- Budget Column -->
                  <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef>Correo Electrónico
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium">{{element.correo}}</p>
                    </td>
                  </ng-container>
    
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="mb-0 fw-medium op-5 acciones">
                        <!-- {{element.project}} -->
    
                        <button class="btnaccion" (click)="editar(element)">
                          <mat-icon class="editarcolor">edit</mat-icon></button>
                        <button class="btnaccion" (click)="delete(element)">
                          <mat-icon class="deletecolor">delete</mat-icon></button>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>  
            
            </mat-tab>
            <mat-tab label="Proveedores">  <div class="table-responsive">
              <table mat-table [dataSource]="dataListProveedores" class="text-nowrap w-100">
                <ng-container matColumnDef="idContacto">
                  <th mat-header-cell *matHeaderCellDef> Id </th>
                  <td mat-cell class="fw-medium" *matCellDef="let element">
                    {{element.idContacto}} </td>
                </ng-container>
  
                <!-- Assigned Column -->
                <ng-container matColumnDef="nombreRazonSocial">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium">{{ element.nombreRazonSocial }}</p>
                    <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                  </td>
                </ng-container>
  
                <!-- Assigned Column -->
                <ng-container matColumnDef="celular">
                  <th mat-header-cell *matHeaderCellDef> Celular </th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium">{{ element.celular }}</p>
                    <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="tipoIdentificacion">
                  <th mat-header-cell *matHeaderCellDef> Tipo de indentificación </th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium">{{ element.tipoIdentificacion}}</p>
                    <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="rnc">
                  <th mat-header-cell *matHeaderCellDef> Rnc/Cedula </th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium">{{ element.rnc}}</p>
                    <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                  </td>
                </ng-container>
  
  
  
  
                <!-- Budget Column -->
                <ng-container matColumnDef="correo">
                  <th mat-header-cell *matHeaderCellDef>Correo Electrónico
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <p class="mb-0 fw-medium">{{element.correo}}</p>
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="mb-0 fw-medium op-5 acciones">
                      <!-- {{element.project}} -->
  
                      <button class="btnaccion" (click)="editar(element)">
                        <mat-icon class="editarcolor">edit</mat-icon></button>
                      <button class="btnaccion" (click)="delete(element)">
                        <mat-icon class="deletecolor">delete</mat-icon></button>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div> </mat-tab>
          </mat-tab-group>
    </div>
  </mat-card-content>
</mat-card>