<mat-card appearance="raised">
    <mat-card-content>
        <div class="row">
            <!-- Card column -->
            <div class="col-12">
                <div class="demo-tab-content">
<p-button (click)="showDialog()" label="Show" />
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            <span class="font-bold whitespace-nowrap">Amy Elsner</span>
        </div>
    </ng-template>
    <span class="text-surface-500 dark:text-surface-400 block mb-8">Update your information.</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-2">
        <label for="email" class="font-semibold w-24">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <ng-template #footer>
        <p-button label="Cancel" [text]="true" severity="secondary" />
        <p-button label="Save" [outlined]="true" severity="secondary"  />
    </ng-template>
</p-dialog>

                    <div class="headerNavCard">
                        <div class="titulo"> <mat-icon>list</mat-icon>Listado de los productos <span
                                style="margin-left: 10px;"></span>
                            <!-- <a>
                <div class="containerIcoText"><mat-icon>arrow_back</mat-icon></div>
              </a> -->

                        </div>

                        <div class="accionesprint">
                            <mat-icon>print_connect</mat-icon>
                            <mat-icon>share</mat-icon>
                            <mat-icon>download</mat-icon>
                        </div>
                    </div>


                    <div class="filterandbutton" style="margin-top: 5px;">

                        <div style="display: flex;">
                            <button (click)="goToNewProduct(0)" mat-raised-button class="me-8 mb-8"
                                color="primary"><mat-icon>add</mat-icon> Crear
                                nuevo producto</button>
                            <a [routerLink]="['/inventary/inventary-adjustment']" mat-raised-button class="me-8 mb-8"
                                color="accent"><mat-icon>inventory</mat-icon>Ajuste de inventario</a>

                        </div>

                        <div class="containerfuncionesheader input-parent">
                            <mat-form-field appearance="fill" class="mini-input no-fill-background">
                                <mat-label>Buscar</mat-label>
                                <input matInput (keyup)="getAllFilter($event)" placeholder="buscar">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
                        <table mat-table [dataSource]="dataList" class="text-nowrap w-100">
                            <!-- Id Column -->
                            <ng-container matColumnDef="imagen">
                                <th mat-header-cell *matHeaderCellDef>Imagen </th>
                                <td mat-cell class="fw-medium" *matCellDef="let element">
                                    <div
                                        style="display: flex; justify-content: center; align-items: center; width: 100%; box-sizing: border-box; border-radius: 10px;">
                                        <img class="d-sm-block" src="{{element.imagen}}" alt=""
                                            style="width: 30px; height: 30px; border-radius: 10%; border: 1px solid silver;">
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="idProducto">
                                <th mat-header-cell *matHeaderCellDef> Código </th>
                                <td mat-cell class="fw-medium" *matCellDef="let element">
                                    00{{element.idProducto}} </td>
                            </ng-container>

                            <!-- Assigned Column -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                <td mat-cell *matCellDef="let element">
                                    <p class="mb-0 fw-medium">{{ element.nombre }}</p>
                                    <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                                </td>
                            </ng-container>

                            <!-- Assigned Column -->
                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                                <td mat-cell *matCellDef="let element">
                                    <p class="mb-0 fw-medium">{{ element.descripcion }}</p>
                                    <p class="mb-0 fw-normal op-1">{{ element.work }}</p>
                                </td>
                            </ng-container>

                            <!-- Project Column -->
                            <ng-container matColumnDef="categoria">
                                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                                <td mat-cell *matCellDef="let element">
                                    <p class="mb-0 fw-medium op-1">
                                     {{element.categoriaObj?.nombre || 'No asignado'}}</p>
                                </td>
                            </ng-container>

                             <ng-container matColumnDef="marca">
                                <th mat-header-cell *matHeaderCellDef> Marca </th>
                                <td mat-cell *matCellDef="let element">
                                    <p class="mb-0 fw-medium op-1">
                                        {{element.marcaObj?.nombre || 'No asignado'}}</p>
                                </td>
                            </ng-container>

                                 <ng-container matColumnDef="modelo">
                                <th mat-header-cell *matHeaderCellDef> Modelo </th>
                                <td mat-cell *matCellDef="let element">
                                    <p class="mb-0 fw-medium op-5">
                                        {{element.modeloObj?.nombre  || 'No asignado'}}</p>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="precioBase">
                                <th mat-header-cell *matHeaderCellDef> Precio Base </th>
                                <td mat-cell *matCellDef="let element">
                                    <p class="mb-0 fw-medium  primarycolor">{{moneda.simbolo}}
                                        {{element.precioBase}}</p>
                                </td>
                            </ng-container>

                            <!-- Budget Column -->
                            <ng-container matColumnDef="impuesto">
                                <th mat-header-cell *matHeaderCellDef> Impuestos </th>
                                <td mat-cell *matCellDef="let element">
                                    <p class="mb-0 fw-medium primarycolor">
                                        {{moneda.simbolo}}{{element.precioFinal -
                                        element.precioBase | number:'1.2-2' }}</p>
                                </td>
                            </ng-container>

                            <!-- Budget Column -->
                            <ng-container matColumnDef="cantInicial" >
                                <th mat-header-cell *matHeaderCellDef> Stock
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <p class="mb-0 fw-medium stock">{{element.cantInicial}}</p>
                                </td>
                            </ng-container>
                             <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Activo
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <p class="mb-0 fw-medium ">
                                        <mat-slide-toggle color="primary" [(ngModel)]="element.estado"></mat-slide-toggle>
                                    </p>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="mb-0 fw-medium op-5 acciones">
                                        <!-- {{element.project}} -->

                                        <button class="btnaccion" (click)="editar(element)">
                                            <mat-icon class="editarcolor">edit</mat-icon></button>
                                        <button class="btnaccion" (click)="delete(element)">
                                            <mat-icon class="deletecolor">delete</mat-icon></button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                        <app-nodata *ngIf="dataList.length==0"></app-nodata>

                    </div>

                </div>







            </div>
        </div>

    </mat-card-content>
</mat-card>


