<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <mat-card appearance="raised">
                <mat-card-content>
                    <div class="headerNavCard">
                        <h4 class="mb-56">Mantenimiento de clientes/proveedores</h4>
                        <a [routerLink]="['/contacts']">
                            <div class="containerIcoText"><mat-icon>arrow_back</mat-icon></div>
                        </a>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div>
                                <form class="formulario" [formGroup]="miFormulario">
                                    <div class="container">
                                        <div class="row">

                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <mat-form-field appearance="fill" class="control">
                                                    <mat-label>Tipo de contacto</mat-label>
                                                    <mat-select formControlName="idTipoContacto">
                                                        <mat-option *ngFor="let tipo of dataListTipoContacto"
                                                            [value]='tipo.idTipoContacto'>{{tipo.nombre}}</mat-option>
                                                    </mat-select>
                                                    <mat-hint align="end">Este campo es obligatorio</mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <mat-form-field appearance="fill" class="control">
                                                    <mat-label>Tipo de identificación</mat-label>
                                                    <mat-select formControlName="tipoIdentificacion">
                                                        <mat-option *ngFor="let tipo of tipoIdentificacion"
                                                            [value]="tipo.nombre">{{tipo.nombre}}</mat-option>
                                                    </mat-select>
                                                    <mat-hint align="end">Este campo es obligatorio</mat-hint>
                                                </mat-form-field>
                                            </div>





                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <mat-form-field appearance="fill" class="example-full-width control">
                                                    <mat-label>RNC o cedula</mat-label>
                                                    <input type="text" matInput #message minlength="3" class="control"
                                                        formControlName="rnc"
                                                        placeholder="Escriba la identificacion del cliente">
                                                    <mat-icon matSuffix>badge</mat-icon>

                                                </mat-form-field>
                                            </div>


                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <mat-form-field appearance="fill" class="example-full-width control">
                                                    <mat-label>Nombre/ Razón social</mat-label>
                                                    <input type="text" matInput #message minlength="3" class="control"
                                                        formControlName="nombreRazonSocial"
                                                        placeholder="Escriba la identificacion del cliente">
                                                     <mat-icon matSuffix>person</mat-icon>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <mat-form-field class="example-full-width control" appearance="fill">
                                                    <mat-label>Dirección</mat-label>
                                                    <textarea matInput placeholder="Escribe la dirección del cliente"
                                                        formControlName="direccion"></textarea>

                                                </mat-form-field>




                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <mat-form-field appearance="fill"
                                                            class="example-full-width control">
                                                            <mat-label>correo</mat-label>
                                                            <input type="text" matInput #message minlength="3"
                                                                class="control" formControlName="correo"
                                                                placeholder="Escriba el correo del cliente">
                                                            <mat-icon matSuffix>mail</mat-icon>

                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <mat-form-field appearance="fill"
                                                            class="example-full-width control">
                                                            <mat-label>Celular</mat-label>
                                                            <input type="tel" matInput class="control"
                                                                formControlName="celular" mask="(000) 000-0000"
                                                                placeholder="(000) 000-0000">
                                                            <mat-icon matSuffix>call</mat-icon>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <mat-form-field appearance="fill"
                                                            class="example-full-width control">
                                                            <mat-label>Telefono 1</mat-label>
                                                            <input type="tel" matInput class="control"
                                                                formControlName="telefono1" mask="(000) 000-0000"
                                                                placeholder="(000) 000-0000">
                                                             <mat-icon matSuffix>call</mat-icon>

                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <mat-form-field appearance="fill"
                                                            class="example-full-width control">
                                                            <mat-label>Telefono 2</mat-label>
                                                            <input type="tel" matInput class="control"
                                                                formControlName="telefono2" mask="(000) 000-0000"
                                                                placeholder="(000) 000-0000">
                                                            <mat-icon matSuffix>call</mat-icon>

                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <mat-form-field appearance="fill" class="control">
                                                            <mat-label>Tipo de NCF</mat-label>
                                                            <mat-select formControlName="idTipoNumeracion">
                                                                <mat-option *ngFor="let tipo of dataListTipoNumeracion"
                                                                    [value]="tipo.idNumeracion">{{tipo.nombre}}</mat-option>
                                                            </mat-select>
                                                            <mat-hint align="end">Este campo es
                                                                obligatorio</mat-hint>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <mat-form-field appearance="fill"
                                                            class="example-full-width control">
                                                            <mat-label>Limite de credito</mat-label>
                                                            <input type="number" matInput class="control"
                                                                formControlName="limiteCredito"
                                                                placeholder="Escriba el limite de credito">
                                                            <mat-icon matSuffix>wallet</mat-icon>

                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <mat-form-field appearance="fill" class="control">
                                                            <mat-label>Plazo de pago</mat-label>
                                                            <mat-select formControlName="idTermino">
                                                                <mat-option *ngFor="let termino of dataListTerminos"
                                                                    [value]="termino.idTermino">{{termino.nombre}}</mat-option>
                                                            </mat-select>

                                                            <mat-hint align="end">Este campo es
                                                                obligatorio</mat-hint>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <mat-form-field appearance="fill" class="control">
                                                            <mat-label>Vendedor</mat-label>
                                                            <mat-select formControlName="idVendedor">
                                                                <mat-option *ngFor="let Vendedor of dataListVendedor"
                                                                    [value]="Vendedor.idVendedor">{{Vendedor.nombre}}</mat-option>
                                                            </mat-select>
                                                           
                                                        </mat-form-field>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>


                                        <div class="modal-footer">
                                            <button mat-raised-button class="me-8 mb-8" color="primary"
                                                (click)="save()"><mat-icon>save</mat-icon> Guardar</button>
                                            <button mat-raised-button class="me-8 mb-8" color="warn"
                                                (click)="resetForm()"><mat-icon>cancel</mat-icon> Cancelar</button>
                                        </div>
                                    </div>
                                </form>


                            </div>

                        </div>

                    </div>

                </mat-card-content>
            </mat-card>
        </div>


    </div>


</div>