<h2 mat-dialog-title>Agregar pago</h2>
<mat-dialog-content>

  <div class="headpago">
    <p style="font-size: 17px;">
      <b>Contacto:</b> {{nombreCliente}} <br>
      <b>Número de factura: </b> {{noFactura}} <br>
      <b>Monto pagado: </b>{{moneda.simbolo}} {{montoPagado | number : '1.2-5'}} <br>
      <b>Monto por pagar: </b>{{moneda.simbolo}} {{montoPorPagar | number : '1.2-5'}}
    </p>
    <div>
      <mat-icon style="width: 60px; height: 60px; font-size: 50px;">payments</mat-icon>
    </div>
  </div>

  <hr>

  <form action="" [formGroup]="miFormulario">
    <div style="margin-top: 20px;">
      <div class="row">
        <div class="col"> <mat-form-field class="example-full-width " appearance="fill">
            <mat-label>Monto</mat-label>
            <input matInput type="number" placeholder="Monto" value="0" formControlName="monto">
          </mat-form-field></div>

        <div class="col">
          <mat-form-field appearance="fill" style="color: red;">
            <mat-label>Metodo de pago</mat-label>
            <mat-select formControlName="idMetodoPago">
              <mat-option (click)="selectMetodo(metodo)" *ngFor="let metodo of dataListMetodoPago"
                [value]="metodo.idMetodoPago">
                {{ metodo.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">

          <mat-form-field appearance="fill">
            <mat-label>Banco</mat-label>
            <mat-select formControlName="idBanco">
              <mat-option *ngFor="let tipo of dataListBanco" [value]="tipo.idBanco">
                {{ tipo.nombreCuenta }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>No.Ticket</mat-label>
            <input matInput placeholder="No.Ticket" formControlName="noTicket">
          </mat-form-field>
        </div>

       


      </div>

    

    <mat-form-field class="fullwidth" appearance="fill">
      <mat-label>Nota del pago</mat-label>
      <textarea matInput formControlName="notaPago"></textarea>
    </mat-form-field>
    </div>

  </form>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="save()">Guardar</button>
</mat-dialog-actions>