<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"> -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="over" [opened]="(isHandset$ | async) === true">
    <div class="headermenu">
      <h4>MY APLICACION</h4>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="p-16">
      <div class="mb-16">
        <a href="javascript:void(0)" class="d-flex align-items-center">
        </a>

      </div>

      <div class="pt-8">
        <ul>
          <li class="list-group mb-2" *ngFor="let sidenav of sidebarMenu">
            <a *ngIf="sidenav.menu!=='Ventas' && sidenav.menu!=='Caja' && sidenav.menu!=='POS'"  matRipple [matRippleColor]="'white'"
              routerLink="{{ sidenav.link }}" class="sidebar-menu w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive">
              <i class="{{sidenav.icon}}"></i>{{sidenav.menu}}
            </a>
            <a (click)="facturar(0, true)"  *ngIf="sidenav.menu=='POS'" matRipple [matRippleColor]="'white'"
              routerLink="{{ sidenav.link }}" class="sidebar-menu w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive">
              <i class="{{sidenav.icon}}"></i>{{sidenav.menu}}
            </a>
            <div *ngIf="sidenav.menu==='Ventas'" style="display: flex; flex-direction: column; width: 100%;">
              <a matRipple [matRippleColor]="'#f7f8f443'" (click)="showListVentas()"
                class="sidebar-menu w-100 d-flex align-items-center" [routerLinkActive]="routerActive">
                <i class="{{ sidenav.icon }}"></i> {{
                sidenav.menu }}
                <span class="ps-4">
                </span>
                <div style="margin-left: 80px">
                  <i-feather *ngIf="rowIcon==false" name="chevron-down"></i-feather>
                  <i-feather *ngIf="rowIcon" name="chevron-up"></i-feather>
                </div>
              </a>
              <div class="contItem" [class.show]="listIngresos" *ngIf="sidenav.menu=='Ventas'">
                <a (click)="selectDocument('Factura')"> <span class="centerall"> • Facturas</span></a>
                <a (click)="selectDocument('Cotización')"><span class="centerall">• Cotización</span></a>
                <a [routerLink]="['sales/payment']"><span class="centerall">• Pagos recibidos</span></a>
                <!-- <a [routerLink]="['sales/payment']"><span class="centerall">• Notas de credito</span> </a> -->
              </div>
            </div>

            <div *ngIf="sidenav.menu==='Caja'" style="display: flex; flex-direction: column; width: 100%;">
              <a matRipple [matRippleColor]="'#f7f8f443'" (click)="showListCaja()"
                class="sidebar-menu w-100 d-flex align-items-center" [routerLinkActive]="routerActive">
                <i class="{{ sidenav.icon }}"></i> {{
                sidenav.menu }}
                <span class="ps-4">
                </span>
                <div style="margin-left: 80px">
                  <i-feather *ngIf="rowIconCaja==false" name="chevron-down"></i-feather>
                  <i-feather *ngIf="rowIconCaja" name="chevron-up"></i-feather>
                </div>
              </a>
              <div class="contItem" [class.show]="listCaja" *ngIf="sidenav.menu=='Caja'">
                <a routerLink="/shifts"> <span class="centerall"> • Manejo de turno</span></a>
                <a routerLink="/cash-management"> <span class="centerall"> • Gastos/Ingresos</span></a>
              </div>
            </div>


          </li>
        </ul>
      </div>

      <!-- <div class="m-8 pt-4">
        <div class="buy-flexy ps-24 pe-24 mt-48 mb-48">
          <div class="text-center">
            <img src="assets/images/sidebar-buynow-bg.svg" class="img-fluid" alt="">
            <div class="pt-24 pb-24 mt-8">
              <p class="fw-bold fs-18 mb-16 pb-8">Get This for Free</p>
              <ul>
                <li class="mb-8">
                  <a href="https://www.wrappixel.com/templates/flexy-angular-admin-free/" mat-flat-button
                    color="primary" class="fw-light w-100 fs-14">Download Free</a>
                </li>
                <li>
                  <a href="https://www.wrappixel.com/templates/flexy-material-angular-admin/?ref=33" mat-flat-button
                    color="accent" class="w-100 fw-light fs-14">Check Pro</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <!-- Header -->
    <mat-toolbar class="header ps-24 pe-24 toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-stroked-button (click)="facturar(0, true)"><mat-icon>shopping_cart</mat-icon> Facturar</button>

      <div>
        <button *ngIf="turnoService.isOpen===undefined" (click)="openShift()"
          mat-stroked-button><mat-icon>lock_open_circle</mat-icon> Abrir turno</button>
        <button *ngIf="turnoService.isOpen!==undefined" (click)="openModalCloseShift()"
          mat-stroked-button><mat-icon>lock_closed_circle</mat-icon> Cerrar turno</button>

      </div>





      <div class="ms-auto">
        <button mat-button class="fs-16 pt-4 pb-4 ps-8 pe-8 text-light-muted d-flex align-items-center"
          [matMenuTriggerFor]="menu">
          <div class="d-flex align-items-center">
            <img src="assets/images/user2.webp" class="rounded-circle" alt="">
            <span class="fw-light ms-8 text-secondary">Hi,</span>
            <span class="fw-bold ms-8">{{usuarioService.usuarioLogueado.data.nombre}}</span>
            <i-feather name="chevron-down" class="feather-base"></i-feather>
          </div>
        </button>
        <mat-menu #menu="matMenu" class="profile-dropdown">
          <div class="p-16 mb-4">
            <button mat-menu-item class="fs-16">Edit Profile</button>
            <button mat-menu-item class="fs-16">Account</button>
            <button mat-menu-item class="fs-16">Change Password</button>
            <button mat-menu-item class="fs-16">My Settings</button>
          </div>

          <hr>

          <div class="p-16">
            <button mat-flat-button color="accent" class="w-100 text-white">Logout</button>
          </div>

        </mat-menu>
      </div>
    </mat-toolbar>

    <!-- Content -->
    <div class="body-wrapper main-content">
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- <p class="text-center pb-15 fs-16">© 2025 All rights reserved by <a href="" target="_blank"
        class="text-indigo">JDSoftware.com</a></p> -->

  </mat-sidenav-content>

</mat-sidenav-container>