<div class="row">
    <div class="col-12">
        <mat-card>
            <mat-card-content>
                <div class="containerfuncionesheader input-parent">
                   
                    <div class="headerNavCard col-12">
                        <h4>Inventario de producto</h4>
                        <a [routerLink]="['/inventary']">
                            <div class="containerIcoText"><mat-icon>arrow_back</mat-icon></div>
                        </a>
                    </div>

                   


                </div>
                <div>
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="toogle">
                        <mat-button-toggle (click)="verAjuste(0)" [checked]='true' value="bold">Crear
                            ajuste</mat-button-toggle>
                        <mat-button-toggle (click)="verAjuste(1)" value="italic">Ajustes de inventarios
                            realizados</mat-button-toggle>
                        <mat-button-toggle (click)="verAjuste(2)" value="italic">Kardex/Movimientos</mat-button-toggle>
                    </mat-button-toggle-group>
                    <div class="flexright">

                         <form action="" [formGroup]="formularioFecha" class="controlesfilter">


                        <mat-form-field appearance="fill" class="control mini-input no-fill-background">
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-label matTooltip="Puede consultar un producto por su nombre">Buscar producto
                            </mat-label>

                            <input type="text" #inputProducto matInput [matAutocomplete]="prductoBuscador"
                                (input)="searchProducto($event)" formControlName="producto">
                            <mat-autocomplete #prductoBuscador="matAutocomplete" [displayWith]="displayFnProducto"
                                (optionSelected)="selectProducto($event, 1)">
                                <mat-option *ngFor="let producto of dataListProductosSearch" [value]="producto">
                                    <div class="">
                                        <div> {{ producto.nombre }} <br>
                                            <div class="mb-0 fw-normal op-5">Stock: {{producto.cantInicial}}
                                                Precio:${{producto.precioFinal}} </div>
                                        </div>
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <!-- 
                        <mat-form-field appearance="fill">
                            <mat-label>Buscar</mat-label>
                            <input matInput (keyup)="getAllFilter($event)" placeholder="Buscar producto"
                                formControlName="filtro">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field> -->
                        &nbsp;
                        <mat-form-field *ngIf="controlVistasTablas==2" class="control mini-input no-fill-background">
                            <mat-label>Rango de fecha</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Desde" formControlName="desde">
                                <input matEndDate placeholder="Hasta" formControlName="hasta"
                                    (dateChange)="masterFilter($event)">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>

                        &nbsp;
                        <!-- <button *ngIf="controlVistasTablas!=0" style="margin-top: 10px; margin-left: 10px;"
                            mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>print_connect</mat-icon>
                                <span>Imprimir</span>
                            </button>
                            <button mat-menu-item disabled>
                                <mat-icon>share</mat-icon>
                                <span>Compartir</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>download</mat-icon>
                                <span>Descargar</span>
                            </button>
                        </mat-menu> -->


                    </form>




                            <button *ngIf="controlVistasTablas==2" (click)="printReporteMovimiento()" mat-raised-button
                                class="me-8 mb-8" color="primary"><mat-icon>print</mat-icon> Imprimir
                                reporte</button>


                    </div>
                </div>





                <div class="table-responsive" *ngIf="controlVistasTablas==0">
                    <div class="ajustes">
                        <h3>LISTADO DE PRODUCTOS</h3>
                        <mat-icon (click)="refrescar()">refresh</mat-icon>
                    </div>

                    <mat-divider></mat-divider>
                    <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
                    <table mat-table [dataSource]="dataList" class="text-nowrap w-100">
                        <!-- Id Column -->
                        <ng-container matColumnDef="imagen">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell class="fw-medium" *matCellDef="let element">
                                <div
                                    style="display: flex; justify-content: center; align-items: center; width: 100%; box-sizing: border-box; border-radius: 50px;">
                                    <img class="d-sm-block" src="{{element.imagen}}" alt=""
                                        style="width: 25px; height: 25px; border-radius: 50%;">
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="idProducto">
                            <th mat-header-cell *matHeaderCellDef> Codigo </th>
                            <td mat-cell class="fw-medium" *matCellDef="let element">
                                {{element.idProducto}} </td>
                        </ng-container>

                        <!-- Assigned Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium">{{ element.nombre.length > 20 ? (element.nombre
                                    | slice:0:20) + '...' : element.nombre}}</p>
                                <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                            </td>
                        </ng-container>

                        <!-- Assigned Column -->
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium">{{ element.descripcion }}</p>
                                <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                            </td>
                        </ng-container>

                        <!-- Project Column -->
                        <ng-container matColumnDef="precioBase">
                            <th mat-header-cell *matHeaderCellDef> Precio Base </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium op-5">
                                    {{informationService.moneda.simbolo}} {{element.precioBase | number : '1.2-2'}}</p>
                            </td>
                        </ng-container>



                        <!-- Budget Column -->
                        <ng-container matColumnDef="cantInicial">
                            <th mat-header-cell *matHeaderCellDef> Stock Actual
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium"> {{element.cantInicial}}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="StockAjustado">
                            <th mat-header-cell *matHeaderCellDef> Stock Ajustado
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium"> <input (input)="ajustar(element.idProducto, $event)"
                                        class="input text-center" type="number" value="{{element.cantInicial}}">
                                </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Diferencia">
                            <th mat-header-cell *matHeaderCellDef> Diferencia
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p [ngStyle]="{'color': (element.diferencia<0) ? 'red' :   ((element.diferencia> 0) ? 'green' : 'dark') }"
                                    class="mb-0 fw-medium"><span
                                        *ngIf="element.diferencia>0">+</span>{{element.diferencia || 0}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Razón del Ajuste">
                            <th mat-header-cell *matHeaderCellDef> Razon del ajuste
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium">
                                    <select class="form-select input" aria-label="Default select example"
                                        (change)="selectRazon($event, element.idProducto)">
                                        <option selected disabled>Seleccionar razón</option>
                                        <option *ngFor="let a of adjustmentReasons" [value]=a>{{a}}</option>
                                    </select>
                                </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="accion">
                            <th mat-header-cell *matHeaderCellDef>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button *ngIf="element.diferencia!==0
                                 && element.diferencia!==null 
                                 && element.razonAjuste!=='Seleccionar razón'
                                 && element.razonAjuste!==undefined
                                 && element.diferencia!==undefined" (click)="saveAjuste(element)" mat-stroked-button
                                    color="primary">
                                    <mat-icon>add</mat-icon> Ajustar</button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <app-no-data *ngIf="dataList.length<1"></app-no-data>

                </div>




                <div class="table-responsive" *ngIf="controlVistasTablas===1">
                    <div class="ajustes">
                        <h3>Productos ajustados</h3>
                        <mat-icon (click)="getAllAjustes()">refresh</mat-icon>

                    </div>
                    <mat-divider></mat-divider>
                    <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
                    <table mat-table [dataSource]="dataListProductosAjustados" class="text-nowrap w-100">
                        <!-- Id Column -->
                        <ng-container matColumnDef="imagen">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell class="fw-medium" *matCellDef="let element">
                                <div
                                    style="display: flex; justify-content: center; align-items: center; width: 100%; box-sizing: border-box; border-radius: 50px;">
                                    <img class="d-sm-block" src="{{element.imagen}}" alt=""
                                        style="width: 25px; height: 25px; border-radius: 50%;">
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="idAjuste">
                            <th mat-header-cell *matHeaderCellDef> Codigo </th>
                            <td mat-cell class="fw-medium" *matCellDef="let element">
                                {{element.idProducto}} </td>
                        </ng-container>

                        <!-- Assigned Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium">{{ element.productoObj.nombre }}</p>
                                <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                            </td>
                        </ng-container>

                        <!-- Assigned Column -->
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium">{{ element.descripcion }}</p>
                                <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                            </td>
                        </ng-container>

                        <!-- Project Column -->
                        <ng-container matColumnDef="StockAnterior">
                            <th mat-header-cell *matHeaderCellDef> Stock anterior </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium op-5">
                                    {{element.stockActual}}</p>
                            </td>
                        </ng-container>



                        <!-- Budget Column -->
                        <ng-container matColumnDef="cantInicial">
                            <th mat-header-cell *matHeaderCellDef> Stock Ajustado
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium"> {{element.stockAjustado}}</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="StockAjustado">
                            <th mat-header-cell *matHeaderCellDef> Stock Ajustado
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium"> {{element.stockAjustado}} </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Diferencia">
                            <th mat-header-cell *matHeaderCellDef> Diferencia
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p [ngStyle]="{'color': (element.diferencia<0) ? 'red' :   ((element.diferencia> 0) ? 'green' : 'dark') }"
                                    class="mb-0 fw-medium"><span
                                        *ngIf="element.diferencia>0">+</span>{{element.diferencia || 0}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Razón del Ajuste">
                            <th mat-header-cell *matHeaderCellDef> Razon del ajuste
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium">
                                    {{element.razonAjuste}}
                                </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="accion">
                            <th mat-header-cell *matHeaderCellDef>
                            </th>
                            <td mat-cell *matCellDef="let element" class="acciones">
                                <button class="btnaccion" (click)="editAjusteDialog(element)">
                                    <mat-icon class="editarcolor">edit</mat-icon></button>
                                <button *ngIf="element.diferencia!==0
                                && element.diferencia!==null 
                                && element.razonAjuste!=='Seleccionar razón'
                                && element.razonAjuste!==undefined
                                && element.diferencia!==undefined" class="btnaccion"
                                    (click)="removerAjuste(element.idAjuste)">
                                    <mat-icon class="deletecolor">delete</mat-icon></button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsAjustada"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsAjustada;"></tr>
                    </table>
                    <app-no-data *ngIf="dataListProductosAjustados.length<1"></app-no-data>
                </div>


                <div class="table-responsive" *ngIf="controlVistasTablas===2">
                    <div class="ajustes">
                        <h3>Kardex/Movimientos</h3>
                        <mat-icon (click)="getMovimientosProductos()">refresh</mat-icon>
                    </div>
                    <label style="margin-left: 5px;">Resumen de opraciones</label>
                    <div>
                        <div class="summary-grid">
                            <div class="summary-card">
                                <div class="header-card">
                                    <div class="icon">#</div>
                                    <div class="title">Total Entradas</div>
                                </div>
                                <div class="amount">{{cantEntradas}}</div>
                            </div>
                            <div class="summary-card">
                                <div class="header-card">
                                    <div class="icon">#</div>
                                    <div class="title">Total salidas</div>
                                </div>
                                <div class="amount">{{ cantSalidas}}</div>
                            </div>

                            <div class="summary-card">
                                <div class="header-card">
                                    <div class="icon">$</div>
                                    <div matTooltip="Venta con tarjeta" class="title">Valor total</div>
                                </div>
                                <div class="amount">{{ montoTotalInventario || 0 | number:'1.2-2'}}</div>
                            </div>

                            <div class="summary-card">
                                <div class="header-card">
                                    <div class="icon">#</div>
                                    <div matTooltip="Venta con trasferencia" class="title">Productos</div>
                                </div>
                                <div class="amount">{{cantProd}}</div>
                            </div>
                        </div>


                    </div>


                    <mat-divider></mat-divider>
                    <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
                    <table mat-table [dataSource]="dataListMovimietoProductos" class="text-nowrap w-100">

                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> Fecha
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium"> {{element.fecha | date : 'dd/MM/yyyy HH:mm:ss'}} </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="idMovimiento">
                            <th mat-header-cell *matHeaderCellDef> Codigo </th>
                            <td mat-cell class="fw-medium" *matCellDef="let element">
                                {{element.idMovimiento}} </td>
                        </ng-container>

                        <ng-container matColumnDef="idProducto">
                            <th mat-header-cell *matHeaderCellDef> Cod. Producto </th>
                            <td mat-cell class="fw-medium" *matCellDef="let element">
                                {{element.idProducto}}</td>
                        </ng-container>

                        <!-- Assigned Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Referencia </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium">{{element.productoObj.nombre.length > 20 ?
                                    (element.productoObj.nombre
                                    | slice:0:20) + '...' : element.productoObj.nombre}}</p>
                                <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
                                <p class="mb-0 fw-normal op-5">{{element.referencia.length > 30 ?
                                    (element.referencia
                                    | slice:0:30) + '...' : element.referencia}}</p>

                            </td>
                        </ng-container>


                        <ng-container matColumnDef="costo_unitario">
                            <th mat-header-cell *matHeaderCellDef>Costo unitario</th>
                            <td mat-cell class="fw-medium" *matCellDef="let element" class="textGreen">
                                {{informationService.moneda.simbolo}} {{element.productoObj.costoInicial | number :
                                '1.2-2'}}</td>
                        </ng-container>



                        <ng-container matColumnDef="costo_total">
                            <th mat-header-cell *matHeaderCellDef>Costo Total</th>
                            <td mat-cell class="fw-medium" *matCellDef="let element" class="textGreen">
                                {{informationService.moneda.simbolo}} {{ element.cantidad<1? ((element.cantidad*(-1)) *
                                    element.productoObj.costoInicial | number : '1.2-2' ) : (element.cantidad *
                                    element.productoObj.costoInicial | number : '1.2-2' )}}</td>
                        </ng-container>

                        <!-- Assigned Column -->
                        <ng-container matColumnDef="isEntrada">
                            <th mat-header-cell *matHeaderCellDef> Operación </th>

                            <td mat-cell *matCellDef="let element">
                                <ng-container *ngIf="element.isEntrada==true ; else isEntrada">
                                    <p class="mb-0 fw-medium entradalcolor">Entrada</p>
                                </ng-container>
                                <ng-template #isEntrada>
                                    <p class="mb-0 fw-medium salidalcolor">Salida</p>

                                </ng-template>
                                <!-- <p class="mb-0 fw-normal op-5s">{{ element.work }}</p> -->
                            </td>
                        </ng-container>

                        <!-- Project Column -->
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                            <td mat-cell *matCellDef="let element">
                                <p [ngStyle]="{'color': (element.cantidad<0) ? 'red' :   ((element.cantidad> 0) ? 'green' : 'dark') }"
                                    class="mb-0 fw-medium"><span *ngIf="element.cantidad>0">+</span>{{element.cantidad
                                    || 0}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="saldo">
                            <th mat-header-cell *matHeaderCellDef> Balance </th>
                            <td mat-cell class="fw-medium" *matCellDef="let element">
                                {{element.balance}}
                            </td>

                        </ng-container>

                        <!-- Budget Column -->
                        <!-- <ng-container matColumnDef="referencia">
                            <th mat-header-cell *matHeaderCellDef> Referencia
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="mb-0 fw-medium"> {{element.referencia}}</p>
                            </td>
                        </ng-container> -->



                        <tr mat-header-row *matHeaderRowDef="displayedColumnsMovimientos"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsMovimientos;"></tr>
                    </table>
                    <app-no-data *ngIf="dataListMovimietoProductos.length<1"></app-no-data>


                </div>

            </mat-card-content>

        </mat-card>
    </div>



</div>