/* You can add global styles to this file, and also import other style files */
.headerNavCard
{
    display: flex;
    justify-content: space-between;
 
}

.containerdoc
{
    width: 100%;
    height: 50vh;
    border: 1px solid red;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.table-responsive {
    overflow-x: auto;
  }
  
  td.mat-cell {
    padding: 16px;
  }
  
  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding: 16px;
  }
  
  th.mat-header-cell {
    padding: 16px;
  }
  
  .mat-header-cell {
    font-size: 14px;
  }
  .acciones{
    display: flex;
    flex-direction: row;
  }
  .btnaccion
  {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0 7px 0 1px;
    border-radius: 100px;
    background-color: rgb(220, 220, 220);
    width: 30px;
    height: 30px;
  }
  .btnaccion mat-icon
  {
    width:15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }