<form [formGroup]="miFormulario">
  <mat-card appearance="outlined" *ngIf="!informationService.isPos">
    <mat-card-content>
      <div class="headerNavCard">
        <div class="titulo"> <mat-icon>description</mat-icon> {{document}} <span style="margin-left: 10px;"
            *ngIf="facturaForEdit!==undefined">{{facturaForEdit.numeracion}} </span> </div>
        <h2 *ngIf="miFormulario.value.idDocumento==undefined && miFormulario.value.idFactura!==null">
          Editando {{document}}</h2>
        <h2 *ngIf="document==='Cotización' && idTipoDocumento!=1 && idFactura==0">Crear nueva {{document}}</h2>
        <h2 *ngIf="document=='Cotización' && idTipoDocumento==1">Convertir cotización a factura</h2>
        <a (click)="retroceder()">
          <div class="containerIcoText"><mat-icon>arrow_back</mat-icon></div>
        </a>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title> Datos del cliente</mat-card-title>
            </mat-card-header>

            <mat-card-content style="height: 120px;">
              <mat-form-field appearance="fill" class="control mini-input no-fill-background" style="width: 20%;">
                <mat-icon (click)="addContactDialo()" matSuffix>person_add</mat-icon>
                <mat-label matTooltip="Puede consultar un cliente por identitifacion o su nombre">Cliente</mat-label>
                <input matInput formControlName="nombreClienteCompleto" [matAutocomplete]="auto"
                  (input)="searchContacto($event)">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                  (optionSelected)="selectContacto($event)">
                  <mat-option *ngFor="let contacto of dataListContactos" [value]="contacto">
                    {{ contacto.nombreRazonSocial }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              &nbsp;
              <mat-form-field *ngIf="document!=='Cotización'  && document!=='Conduce'" style="width: 20%;"
                appearance="fill" class="mini-input no-fill-background">
                <mat-label>Numeración</mat-label>
                <mat-select formControlName="idNumeracion">
                  <mat-option *ngFor="let numeracion of dataListNumeracion"
                    [value]='numeracion.idNumeracion'>{{numeracion.nombre}}</mat-option>
                </mat-select>
                <!-- <mat-hint align="end">Este campo es obligatorio</mat-hint> -->
              </mat-form-field>


              &nbsp;
              <mat-form-field class="control mini-input no-fill-background" appearance="fill" style="width: 18%;">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="pickerFecha" formControlName="fecha"
                  (dateChange)="setVencimiento($event)">
                <mat-datepicker-toggle matIconSuffix [for]="pickerFecha"></mat-datepicker-toggle>
                <mat-datepicker #pickerFecha></mat-datepicker>
              </mat-form-field>
              &nbsp;
              <mat-form-field class="control mini-input no-fill-background" appearance="fill" style="width: 20%;">
                <mat-label>Plazo</mat-label>
                <mat-select formControlName="idTermino" (selectionChange)="setVencimiento($event)">
                  @for (termino of dataListTerminos; track termino) {
                  <mat-option [value]="termino.idTermino">{{termino.nombre}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              &nbsp;
              <!-- <mat-form-field class="example-full-width control mini-input no-fill-background" appearance="fill"
                style="width: 20%;">
                <mat-label>Vencimiento</mat-label>
                <input type="datetime" matInput formControlName="vencimiento">
              </mat-form-field> -->
              &nbsp;
              <mat-form-field class="control mini-input no-fill-background" appearance="fill" style="width: 15%;">
                <mat-label>Vendedor</mat-label>
                <mat-select formControlName="idVendedor" (selectionChange)="setVencimiento()">
                  @for (vendedor of dataListVendedores; track vendedor) {
                  <mat-option [value]="vendedor.idVendedor">{{vendedor.nombre}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>



            </mat-card-content>
          </mat-card>

        </div>
        <!-- Seleccion de los productos -->
        <div class="col-9">
          <mat-card appearance="outlined">
            <mat-card-content>
              <p>
              <section style="margin-bottom: 8px;">Producto</section>
              <mat-divider></mat-divider>
              <mat-form-field appearance="fill" class="control mini-input no-fill-background">
                <mat-icon matSuffix>search</mat-icon>
                <mat-label matTooltip="Puede consultar un producto por su nombre">Buscar producto
                  por codigo o por nombre</mat-label>
                <input type="text" #inputProducto matInput [matAutocomplete]="prductoBuscador"
                  (input)="searchProducto($event)" formControlName="producto">
                <mat-autocomplete #prductoBuscador="matAutocomplete" [displayWith]="displayFnProducto"
                  (optionSelected)="selectProducto($event, 1)">
                  <mat-option *ngFor="let producto of dataListProductosSearch" [value]="producto">
                    <div class="buscadorProductos">
                      <div> {{ producto.nombre }} <br>
                        <div class="mb-0 fw-normal op-5">Stock: {{producto.cantInicial}}
                          Precio:${{producto.precioFinal}} </div>
                      </div>
                      <div><img [src]="producto.imagen" alt=""> </div>
                    </div>

                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="example-full-width control mini-input no-fill-background" appearance="fill"
                style="width: 15%;">
                <mat-label>Cant.</mat-label>
                <input type="number" min="1" matInput formControlName="cantidad" (input)="calcular()">
              </mat-form-field>
              <mat-form-field class="example-full-width control mini-input no-fill-background text-green"
                appearance="fill" style="width: 15%;">
                <mat-label>Desc.</mat-label>
                <input type="number" matInput formControlName="descuento" (input)="calcular()">
              </mat-form-field>

              <mat-form-field class="example-full-width control mini-input no-fill-background" appearance="fill"
                style="width: 15%;">
                <mat-label>Precio</mat-label>
                <input matInput type="number" formControlName="precio" readonly="true">
              </mat-form-field>
              <mat-form-field class="example-full-width control mini-input no-fill-background" appearance="fill"
                style="width: 15%;">
                <mat-label>SubTotal</mat-label>
                <input matInput type="number" formControlName="subTotalDetails" readonly="true">
              </mat-form-field>

              <mat-form-field class="example-full-width control mini-input no-fill-background" appearance="fill"
                style="width: 15%;">
                <mat-label>Impuesto</mat-label>
                <input matInput type="number" formControlName="impuesto" readonly="true">
              </mat-form-field>

              <mat-form-field class="example-full-width control mini-input no-fill-background" appearance="fill"
                style="width: 25%;">
                <mat-label>Total</mat-label>
                <input matInput formControlName="total" readonly="true">
              </mat-form-field>



              <button mat-raised-button color="primary" class="margin2" (click)="addDetails()"><mat-icon>add</mat-icon>
                Agregar fila</button>
              <button *ngIf="editando" mat-raised-button color="warn" class="margin2"
                (click)="resetData(1)"><mat-icon>cancel</mat-icon> Cancelar edición</button>
              <mat-divider></mat-divider>
              <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">

                  <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef> Item</th>
                    <td mat-cell class="mb-0 fw-medium op-5" *matCellDef="let element; let i = index">
                      {{i +1}} </td>
                  </ng-container>
                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción</th>
                    <td mat-cell class="mb-0 fw-medium op-5" *matCellDef="let element" [matTooltip]="element.nombre"
                      matTooltipPosition="right">
                      {{element.nombre.length > 15 ? (element.nombre | slice:0:15) + '...' : element.nombre}} </td>
                  </ng-container>



                  <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef> Cant. </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium op-5">{{ element.cantidad }}</p>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium op-5">{{moneda.simbolo}}
                        {{element.precio | number : '1.2-5'}}</p>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="itbis">
                    <th mat-header-cell *matHeaderCellDef> ITBIS </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium op-5">{{moneda.simbolo}}
                        {{element.impuestos | number : '1.2-5'}}</p>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="subtotal">
                    <th mat-header-cell *matHeaderCellDef> SubTotal </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium op-5">
                        {{moneda.simbolo}}{{
                        element.subTotal | number:'1.2-2' }}</p>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="descuento">
                    <th mat-header-cell *matHeaderCellDef>Desc %.
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium op-5">{{element.descuento}}</p>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Total
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <p class="mb-0 fw-medium op-5">{{moneda.simbolo}}{{element.total | number :
                        '1.2-5'}}</p>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element; let i=index" style="text-align: right; width: 70px;">
                      <div class="mb-0 fw-medium op-5 acciones">

                        <mat-icon (click)="editRow(element, i )" class="btnEditar" style="cursor: pointer;"
                          matTooltip="Editar">edit</mat-icon>
                        <mat-icon (click)="removeItem(i, element)" class="btnEliminar" style="cursor: pointer;"
                          matTooltip="Eliminar">closed</mat-icon>

                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>








            </mat-card-content>
          </mat-card>

        </div>

        <div class="col-3">
          <mat-card appearance="outlined">
            <mat-card-content>
              <div>
                <div class="container">

                  <div>

                    <div class="containerTotalesResumen">
                      <p>Subtotal</p>
                      <h3>{{moneda.simbolo}} {{subTotalGeneral | number : '1.2-5'}}</h3>
                    </div>

                    <div class="containerTotalesResumen">
                      <p>Descuento</p>
                      <h3>{{moneda.simbolo}} {{descuentoGeneral | number : '1.2-5'}}</h3>
                    </div>

                    <div class="containerTotalesResumen">

                      <p>ITBIS</p>
                      <h3>{{moneda.simbolo}}{{impuestosGenerales |number : '1.2-5'}}</h3>

                    </div>
                    <div class="containerTotalesResumen">
                      <p>Total</p>
                      <h3 class="mat-primmary">{{moneda.simbolo}} {{totalGeneral | number :
                        '1.2-5'}}</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div>


              </div>
            </mat-card-content>
          </mat-card>


          <mat-card appearance="outlined">
            <mat-card-content>

              <div *ngIf="metodoPagoSeleccionado==''"
                style="display: flex; justify-content: space-between; margin-top: 10px; flex-direction: column;">
                <button *ngIf="document!='Conduce' &&  document!='Cotización'" mat-raised-button color="primary" class="margin2"
                  (click)="setMetodoPago(1,'EFECTIVO', 0)"><mat-icon>save</mat-icon> Pagar y guardar</button>
                <button mat-raised-button color="primary" class="margin2"
                  (click)="guardarFactura()"><mat-icon>save</mat-icon> Guardar</button>
                <button mat-raised-button color="warn" class="margin2"
                  (click)="resetData(2)"><mat-icon>clear_all</mat-icon> Cancelar y
                  limpiar</button>
              </div>

              <div>

                <div *ngIf="metodoPagoSeleccionado!=='' && metodoPagoSeleccionado!=='EFECTIVO'">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Monto recibido</mat-label>
                    <input class="mini-input no-fill-background" type="number" (input)="calcularPagoEfectivo($event, 0)"
                      matInput formControlName="montoPagado" placeholder="Dijiste el monto a pagar" required>
                  </mat-form-field>

                  <mat-form-field class="mini-input no-fill-background" style="width: 100%;"
                    *ngIf="metodoPagoSeleccionado!=='EFECTIVO'">
                    <mat-label>Cuenta bancaria</mat-label>
                    <mat-select formControlName="idBanco">
                      @for (banco of dataListBancos; track banco) {
                      <mat-option [value]="banco.idBanco">{{banco.tipoCuenta.nombre}}
                        {{banco.nombreCuenta}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="mini-input no-fill-background" style="width: 100%;"
                    *ngIf="metodoPagoSeleccionado!=='EFECTIVO'">
                    <mat-label>Numero Ticket</mat-label>
                    <input type="text" matInput formControlName="noComprobante"
                      placeholder="No de Ticket o comprobante de pago">
                  </mat-form-field>


                  <mat-form-field style="width: 100%;" class="mini-input no-fill-background">
                    <mat-label>Observación</mat-label>
                    <input type="text" matInput formControlName="observacionPago" placeholder="Escriba una observación">
                  </mat-form-field>
                </div>

                <div *ngIf="metodoPagoSeleccionado!==''">
                  <div style="display: flex;">
                    <button mat-raised-button color="primary" class="margin2"
                      (click)="guardarFactura()"><mat-icon>save</mat-icon> Guardar</button>
                    &nbsp;
                    <button mat-raised-button color="warn" class="margin2"
                      (click)="resetFormPago()"><mat-icon>cancel</mat-icon> Cancelar</button>
                  </div>
                </div>
              </div>
              <div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>





  <!-- dise1@ post -->
  <div class="containerPost" *ngIf="informationService.isPos">

    <div class="buscadorItems">
      <div class="input-group mb-3">
        <button class="btnitem" (click)="seelctMetodFilter(2)" matTooltip="Buscar producto" type="button">
          <mat-icon>search</mat-icon></button>
        <button class="btnitem" (click)="seelctMetodFilter(1)" matTooltip="Código de barra" type="button"><img
            src="../../../../assets/images/barcode-2-svgrepo-com.svg" alt=""></button>
        <input type="text" class="form-control" [placeholder]="codeBar==true? 'Código de barra' : 'Buscar producto'"
          aria-label="Example text with two button addons" (input)="searchProducto($event)"
          (keydown)="selectProductoByCodeBar($event)">
        <button (click)="addProductDialo()" class="btnitem" type="button"
          matTooltip="Nuevo producto"><mat-icon>add</mat-icon></button>
      </div>
      <div class="containerItemPost">
        <!-- Buscar por categoria de los producto     -->
        <div class="containerCategory">
          <label>Buscar por categoria</label>
          <div class="categorias">
            <button class="itemCategoria" (click)="getAllProduct()">Todos({{dataListProductosSearch.length}})</button>
            @for (categoria of dataListCategorias; track $index)
            {
            <button (click)="getProductByIdCategoria(categoria.idCategoria)" class="itemCategoria">{{categoria.nombre}}
              ({{categoria.cantProduct}})</button>
            }
          </div>
        </div>

        <div class="containerItem">
          <div>
            <app-loader *ngIf="loader"></app-loader>
            <app-nodata *ngIf="dataListProductosSearch.length==0 && loader==false"
              [mensaje]="'No se encontraron registros.'"></app-nodata>
          </div>

          @for (producto of dataListProductosSearch; track $index)
          {
          <div class="product-card" (click)="seletProductPos($event, producto)">
            <div class="stock-badge" *ngIf="!producto.venderSinUnidades">{{producto.cantInicial}} Disponibles</div>

            <div class="containerimg">
              <img src="{{producto.imagen}}" (error)="onImageError($event)" alt="Producto" class="product-image">
            </div>

            <div class="product-info">
              <p class="product-name"> {{ producto.nombre.length > 15 ? (producto.nombre | slice:0:15) + '...' :
                producto.nombre }} </p>
              <section class="product-price">
                ${{producto.precioBase| number : '1.2-5'}}
              </section>
            </div>
          </div>
          }
        </div>

      </div>
    </div>
    <div class="detalleVenta">
      <div class="header">
        <div *ngIf="dataListDetalleFactura.length>0" (click)="habilitarDescuentos()" class="btndescuento">
          <i class="fa-solid fa-tag"></i>
          <span *ngIf="desc==false">Aplicar descuento</span>
          <span *ngIf="desc==true">Excluir impuesto</span>
        </div>

        <div style="display: flex;">

          <mat-form-field appearance="fill" class="mini-input no-fill-background">
            <mat-label matTooltip="Puede consultar un cliente por identitifacion o su nombre">Cliente</mat-label>
            <input matInput formControlName="nombreClienteCompleto" [matAutocomplete]="auto"
              (input)="searchContacto($event)">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
              (optionSelected)="selectContacto($event)">
              <mat-option *ngFor="let contacto of dataListContactos" [value]="contacto">
                {{ contacto.nombreRazonSocial }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill" class="control mini-input no-fill-background">
            <mat-label>Numeración</mat-label>
            <mat-select formControlName="idNumeracion">
              <mat-option *ngFor="let numeracion of dataListNumeracion"
                [value]='numeracion.idNumeracion'>{{numeracion.nombre}}</mat-option>
            </mat-select>
            <mat-hint align="end">Este campo es obligatorio</mat-hint>
          </mat-form-field>

        </div>

        <div class="body">
          <div class="nodataSales" *ngIf="dataListDetalleFactura.length==0">
            <mat-icon>shopping_cart</mat-icon>
            Selecciona productos para agregar a la venta
          </div>
          <div class="headerTitulos" *ngIf="dataListDetalleFactura.length>0">
            <section class="nombreItem">{{dataListDetalleFactura.length}} Item</section>
            <section class="cant">Cant.</section>
            <section class="desc" *ngIf="desc">Desc. %</section>
            <section class="montod" *ngIf="desc" matTooltip="Monto descuento">M. Desc</section>
            <section class="montototal">SubTotal</section>
            <section class="montototal">Total</section>

          </div>
          <div class="containercarditem" *ngIf="dataListDetalleFactura.length>0">
            <div *ngFor="let item of dataListDetalleFactura; let i = index" class="cardItem">
              <label class="nombreItem">{{item.nombre | slice : 0:30 }} {{moneda.simbolo}}{{item.precio | number :
                '1.2-5' }} </label>
              <input type="number" (input)="changeCant($event, item.idProducto)" class="form-control cant"
                style="text-align: center; font-size: 13px;" min="1" [value]="item.cantidad">
              <select *ngIf="desc" (change)="aplyDesc($event, item.idProducto)" class="form-select desc"
                aria-label="Default select example" style="font-size: 13px;">
                <option select value=0>Selec..</option>
                <option value=5>Dec. 5%</option>
                <option value=10>Dec. 10%</option>
                <option value=15>Dec. 15%</option>
              </select>
              <section *ngIf="desc" class="montod">- {{item.descuento| number : '1.2-5'}}
              </section>
              <div class="montototal">
                {{item.subTotal | number : '1.2-5'}}
              </div>
              <div class="montototal">
                {{item.total | number : '1.2-5'}}
                <mat-icon class="btnremover" (click)="removeItem(i,item)">close</mat-icon>

              </div>

            </div>
            <mat-divider></mat-divider>
          </div>

        </div>


        <div class="">
          <div class="pos-wrapper">
            <div class="cards-grid">
              <div class="info-card">
                <div class="card-label">Subtotal</div>
                <div class="card-value">{{moneda.simbolo}} {{subTotalGeneral | number : '1.2-5'}}</div>
              </div>

              <div class="info-card">
                <div class="card-label">ITBIS</div>
                <div class="card-value">{{moneda.simbolo}} {{impuestosGenerales |number : '1.2-5'}}</div>
                <div class="tax-note">18.00%</div>
              </div>

              <div class="info-card">
                <div class="card-label">Descuento</div>
                <div class="card-value">{{moneda.simbolo}} {{descuentoGeneral | number : '1.2-5'}}</div>
              </div>
            </div>

            <div class="total-section">
              <div class="total-label">Total a Pagar</div>
              <div class="total-value">{{moneda.simbolo}} {{totalGeneral| number : '1.2-5'}}</div>
            </div>

            <div class="actions-bar">

              <div class="informacionturno" *ngIf="turnoService.isOpen==undefined">
                <p>PARA PODER EMPEZAR A VENDER TIENEN QUE ABRIR UN TURNO EN LA CAJA</p>
              </div>
              <div *ngIf="turnoService.isOpen!=undefined" style="display: flex;">
                <button class="btn btn-cancel" (click)="resetData(2)">Cancelar</button>
                <button class="btn btn-save" (click)="openModalPayCash()">Guardar</button>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</form>