<div class="headerNavCard">
    <div class="titulo"> <mat-icon>description</mat-icon>Seleccione una de las opciones <span
            style="margin-left: 10px;"></span>
    </div>
</div>

<mat-dialog-content>

    <button color="primary"  (click)="closeModal(1)">Imprimir ticket <mat-icon>print</mat-icon></button>
    <button  (click)="closeModal(2)">Imprimir factura <mat-icon>print</mat-icon> </button>
    <button  (click)="closeModal(3)"> Compartir <mat-icon>shared</mat-icon></button>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="closeModal(4)">Cancelar</button>
</mat-dialog-actions>