// .btn {
//   margin: 8px;
//   width: 20px;
//   border: 1px solid silver !important;

// }
mat-dialog-content {
    display: flex;
    padding: 5px;
    flex-direction: row;
}
mat-dialog-content button {
    margin: 5px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    color: white;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo button {
    display: flex;
    color: white;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titul{
    display: flex;
    justify-content: center;
    align-items: center;
}