

<mat-dialog-content>
    <button mat-stroked-button  (click)="closeModal(1)"><mat-icon>receipt_long</mat-icon>Imprimir en Formato Ticket </button>
    <button mat-stroked-button  (click)="closeModal(2)"><mat-icon>description</mat-icon> Imprimir en Formato Carta ('8.5'x'11') </button>
    <!-- <button  (click)="closeModal(3)"> Compartir <mat-icon>shared</mat-icon></button> -->    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="closeModal(4)">Cancelar</button>
</mat-dialog-actions>